@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:wght@900&display=swap');

.background-sky {
    
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    /*background-image: repeating-linear-gradient(315deg, #00FFFF2E 92%, #073AFF00 100%),repeating-radial-gradient(75% 75% at 238% 218%, #00FFFF12 30%, #073AFF14 39%),radial-gradient(99% 99% at 109% 2%, #00C9FFFF 0%, #073AFF00 100%),radial-gradient(99% 99% at 21% 78%, #7B00FFFF 0%, #073AFF00 100%),radial-gradient(160% 154% at 711px -303px, #2000FFFF 0%, #073AFFFF 100%);*/
    /* background-image: url(../assets/quote-logo_grid-bg-blue-fe4e3e99.png); */
    background: url(../assets/quote-logo_grid-bg-blue-fe4e3e99.png) right bottom no-repeat, url(../assets/quote-logo_grid-bg-pink-e0de3485.png) left top no-repeat;
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    min-height: 780px;
    height: 90vh;
    max-height:790px;
    box-sizing: border-box;
    padding: 78px 88px 32px;
    overflow: hidden;
    transform: skewY(8deg);
    transform-origin: 100%;
    background-color: #0072ff;
    z-index: 0;
}

.headertext {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bolder; 
  line-height: 55px;
}

.subheadertext {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bolder; 
  line-height: 25px;
}

section#intro {
    color: #fff;
}
section#intro {
    display: flex;
    align-items: center;
    position: relative;
    /* max-width: 900px; */
    width: 100%;
    /*height: 480px;*/
    margin: 0 auto;
    /*padding: 48px 0 0;*/
}
section#intro .hero-logo {
    display: flex;
    /*width: 50%;
    /*min-width: 150px;*/
    height: 400px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 8px;
    vertical-align: top;
}
section#intro .hero-logo {
    background-image: url(../assets/koreskills_logo.png);
    width: 100%;
    
}

.home
{
    background-color: white;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}

.example-card {
    max-width: 100%;
    padding: 50;
    background-color: white;
    color: black;
  }
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .mat-card-header{
    background-color:gold ;
    padding:5px ;
  }
  
   .mat-card{
    padding:0 ;
  }
  
  .mat-card-content{
    padding:5px ;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-small-box {
    height: 100px;
    width: 100px;
  }
  
  .example-large-box {
    height: 200px;
    width: 600px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
/* Increase size of mat-chip-option elements */
::ng-deep mat-chip-option {
  font-size: 28px;
  font-weight: bold;
  height: 68px;
  line-height: 58px;
  padding: 0 26px;
}